[submodule "resume-json"]
	path = resume-json
	url = https://github.com/danieljpost/resume-json
[submodule "v1"]
	path = v1
	url = https://github.com/danieljpost/resume-json
	branch = develop
[submodule "resume"]
	path = resume
	url = https://github.com/danieljpost/resume-json
	branch = master
