[submodule "resume-json"]
	path = resume-json
	url = https://github.com/danieljpost/resume-json
[submodule "resume-json-v1"]
	path = resume-json-v1
	url = https://github.com/danieljpost/resume-json
	branch = master
[submodule "r1"]
	path = v1
	url = https://github.com/danieljpost/resume-json
